<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/codi_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/codi_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".screen.screen_qr"
            android:exported="true" />
        <activity
            android:name=".screen.screen_loading"
            android:exported="true"></activity>
        <activity
            android:name=".screen.screen_createaccount"
            android:exported="true" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".screen.screen_sup"
            android:exported="true" />
        <activity
            android:name=".screen.screen_login"
            android:exported="true" />
        <activity
            android:name=".screen.screen_appinfo"
            android:exported="true" />
        <activity
            android:name=".screen.screen_appver"
            android:exported="true" />
        <activity
            android:name=".screen.ScreenTrhistoryActivity"
            android:exported="true" />
        <activity
            android:name=".screen.screen_mymenu"
            android:exported="true" />
        <activity android:name=".screen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.screen_main"></activity>
    </application>

</manifest>