<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/codi_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/codi_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        android:hardwareAccelerated="true">
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
        <activity
            android:name=".Screen.screen_sup"
            android:exported="true" />
        <activity
            android:name=".Screen.screen_login"
            android:exported="true" />
        <activity
            android:name=".Screen.screen_appinfo"
            android:exported="true" />
        <activity
            android:name=".Screen.screen_appver"
            android:exported="true" />
        <activity
            android:name=".Screen.ScreenTrhistoryActivity"
            android:exported="true" />
        <activity
            android:name=".Screen.screen_mymenu"
            android:exported="true" />
        <activity android:name=".Screen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen.screen_main" />
    </application>

</manifest>